<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automata - Film Studio</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">
  <header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>
      <a href="admin.html" class="logo">
        <img src="../../assets/images/logo.png" alt="Automata logo">
      </a>
      <div class="header-actions">
        <a href="../../guest.html" class="btn btn-primary">Log Out</a>
      </div>
      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="admin.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Automata logo">
          </a>
          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li>
            <a href="admin.html" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="users.html" class="navbar-link">Users</a>
          </li>
          <li>
            <a href="moviesedit.html" class="navbar-link">Movie Edit</a>
          </li>
          <li>
            <a href="questions.html" class="navbar-link">Questions</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  

  <main>
    <article>
      <section class="hero">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle">Automa Film Studio</p>
            <h1 class="h1 hero-title">
               <strong>Movie</strong>, Reviews, & More.
            </h1>
          </div>
        </div>
      </section>

      <section class="upcoming">
        <div class="container">
          <div class="flex-wrapper">
            <div class="title-wrapper">
              <h2 class="h2 section-title">All Movies</h2>
            </div>
          </div>
          <ul class="movies-list has-scrollbar" id="movies-container">
            
          </ul>
        </div>
      </section>
    </article>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    fetchMovies();
    setInterval(fetchMovies, 300000); 
});

function fetchMovies() {
    var token = localStorage.getItem('jwtToken');
  
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch('http://127.0.0.1:5050/admin/all-movies', {  
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token 
        }
    })
    .then(response => response.json())
    .then(moviesData => {
        renderMovies(moviesData);
    })
    .catch(error => {
        console.error('Error fetching movies:', error);
    });
}

function renderMovies(moviesData) {
    const moviesContainer = document.getElementById('movies-container');
    moviesContainer.innerHTML = '';

    Object.entries(moviesData).forEach(([movieId, movie]) => {
        const movieElement = createMovieCard(movie, movieId);
        moviesContainer.appendChild(movieElement);
    });
}

function createMovieCard(movie, movieId) {
    const li = document.createElement('li');
    li.innerHTML = `
    <div class="movie-card" onclick="window.location.href='./adminmovies.html?id=${movieId}'">
  
            <figure class="card-banner">
                <img src="${movie.movie_image_link}" alt="${movie.movie_name} movie poster">
            </figure>
            <div class="title-wrapper">
                <h3 class="card-title">${movie.movie_name}</h3>
                <time datetime="${movie.movie_year}">${movie.movie_year}</time>
            </div>
            <div class="duration">
                    <ion-icon name="time-outline"></ion-icon>
                    <time datetime="PT${movie.movie_duration}M">${movie.movie_duration} min</time>
                </div>
            <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <data>${parseFloat(movie.average_rating).toFixed(2)}</data>
                </div>
            <!-- You can add more admin-specific functionalities here -->
        </div>`;
    return li;
}

  </script>
  
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
