<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automata - Film Studio</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">
  <header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>
      <a href="admin.html" class="logo">
        <img src="../../assets/images/logo.png" alt="Automata logo">
      </a>
      <div class="header-actions">
        <a href="../../guest.html" class="btn btn-primary">Log Out</a>
      </div>
      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="admin.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Automata logo">
          </a>
          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li>
            <a href="admin.html" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="users.html" class="navbar-link">Users</a>
          </li>
          <li>
            <a href="moviesedit.html" class="navbar-link">Movie Edit</a>
          </li>
          <li>
            <a href="questions.html" class="navbar-link">Questions</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  

      <section class="movie-detail">
        <div class="container">
          <figure class="movie-detail-banner">
            <img id="movie-poster" src="" alt="Movie poster">
          </figure>
      
          <div class="movie-detail-content">
            <h1 class="h1 detail-title" id="movie-title">Movie Title</h1>
      
            <div class="meta-wrapper">
              <div class="date-time">
                <div>
                  <ion-icon name="calendar-outline"></ion-icon>
                  <time id="movie-year">Year</time>
                </div>
                <div>
                  <ion-icon name="time-outline"></ion-icon>
                  <time id="movie-duration">Duration</time>
                </div>
              </div>
            </div>
            <p class="storyline" id="movie-storyline">Storyline goes here</p>
            <button type="button" class="delete-film-btn" id="deleteMovieButton">Delete Movie</button>

    
      </section>
    
      <section class="comments">
        <div class="container">
          <h2 class="h2">Comments</h2>
          <div id="comments-container">
          </div>
        </div>
      </section>
      
          
      
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
          <script>
            document.addEventListener('DOMContentLoaded', function() {
    const movieId = getMovieIdFromURL();
    if (movieId) {
        fetchMovieDetails(movieId);
        setupDeleteButton(movieId);
    }
});

function setupDeleteButton(movieId) {
    const deleteButton = document.getElementById('deleteMovieButton');
    if (deleteButton) {
        deleteButton.addEventListener('click', function() {
            deleteMovie(movieId);
        });
    }
}

function deleteMovie(movieId) {
    var token = localStorage.getItem('jwtToken'); 
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`http://127.0.0.1:5050/admin/movie/${movieId}/remove`, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error deleting movie');
        }
        return response.json();
    })
    .then(data => {
        console.log('Movie deleted successfully:', data);
        alert('Movie deleted successfully');
         window.location.href = 'admin.html';
    })
    .catch(error => {
        console.error('Error deleting movie:', error);
        alert('Error deleting movie');
    });
}

function displayMovieDetails(movie) {
    if (movie) {
        document.getElementById('movie-poster').src = movie.movie_image_link;
        document.getElementById('movie-title').innerText = movie.movie_name;
        document.getElementById('movie-year').innerText = movie.movie_year;
        document.getElementById('movie-duration').innerText = movie.movie_duration + ' min';
    } else {
        console.error('No movie details available');
    }
}

        function getMovieIdFromURL() {
    const queryParams = new URLSearchParams(window.location.search);
    return queryParams.get('id');
}
function fetchMovieDetails(movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    if (document.getElementById('deleteMovieButton')) {
        document.getElementById('deleteMovieButton').addEventListener('click', function() {
            var movieDetailSection = document.querySelector('.movie-detail');
            movieDetailSection.style.display = 'none';
        });
    }

    fetch(`http://127.0.0.1:5050/admin/movie/${movieId}`, {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
    .then(response => response.json())
    .then(movie => {
        displayMovieDetails(movie);
        fetchAndDisplayComments(movieId); 
    })
    .catch(error => {
        console.error('Error fetching movie details:', error);
    });
}


function fetchAndDisplayComments(movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }
    console.log('Fetching comments for movie:', movieId);
    fetch(`http://127.0.0.1:5050/admin/movie/${movieId}/comments`, {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
    .then(response => response.json())
    .then(comments => {
        const commentsContainer = document.getElementById('comments-container');
        commentsContainer.innerHTML = '';
        console.log(comments);
        for (let key in comments) {
            if (comments.hasOwnProperty(key)) {
                const comment = comments[key];
                const commentElement = document.createElement('div');
                commentElement.classList.add('comment');
                commentElement.innerHTML = `
                    <p><strong>${comment.name} ${comment.surname}:</strong> ${comment.comment}</p>
                    <button type="button" class="delete-comment-btn" onclick="deleteComment('${movieId}', '${key}')">Delete Comment</button>
                `;
                commentsContainer.appendChild(commentElement);
            }
        }
    })
    .catch(error => console.error('Error fetching comments:', error));
}


function deleteComment(movieId, commentId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`http://127.0.0.1:5050/admin/movie/${movieId}/remove-comment/${commentId}`, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error removing comment');
        }
        fetchAndDisplayComments(movieId); 
    })
    .catch(error => console.error('Error deleting comment:', error));
}



    
            
          </script>
    
          
          
        </body>
        </html>