<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automata - Film Studio</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">
  <header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>
      <a href="admin.html" class="logo">
        <img src="../../assets/images/logo.png" alt="Automata logo">
      </a>
      <div class="header-actions">
        <a href="../../guest.html" class="btn btn-primary">Log Out</a>
      </div>
      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="admin.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Automata logo">
          </a>
          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li>
            <a href="admin.html" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="users.html" class="navbar-link">Users</a>
          </li>
          <li>
            <a href="moviesedit.html" class="navbar-link">Movie Edit</a>
          </li>
          <li>
            <a href="questions.html" class="navbar-link">Questions</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="hero">
    <div class="movies-container">
      <form id="movieForm">
        <table id="moviesTable" border="1">
          <h2 class="movie-title">Add New Movie</h2>
          <tbody>
            <tr>
              <td>
                <label for="movieName">Movie Name:</label>
              </td>
              <td>
                <input type="text" id="movieName" name="movieName" required>
              </td>
            </tr>
            <tr>
              <td>
                <label for="year">Year:</label>
              </td>
              <td>
                <input type="number" id="year" name="year" min="1900" required>
              </td>
            </tr>
            <tr>
              <td>
                <label for="photoLink">Photo URL:</label>
              </td>
              <td>
                <input type="url" id="photoLink" name="photoLink" required>
              </td>
            </tr>
            <tr>
              <td>
                <label for="time">Duration:</label>
              </td>
              <td>
                <input type="text" id="time" name="time" required>
              </td>
            </tr>
            <tr>
              <td>
                <label for="storyline">Storyline:</label>
              </td>
              <td>
                <input type="text" id="storyline" name="storyline" required>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button type="button" onclick="add_movie()">Add Movie</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </section>
  
  
  <script>
    
    function add_movie() {

      var token = localStorage.getItem('jwtToken');
      var url = "http://127.0.0.1:5050/admin/add-movie";

      if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
      }

      var movieName = document.getElementById("movieName").value;
      var year = document.getElementById("year").value;
      var photoLink = document.getElementById("photoLink").value;
      var duration = document.getElementById("time").value;
      var storyline = document.getElementById("storyline").value;

      data_to_send = {
        "movieName": movieName,
        "year": year,
        "photoLink": photoLink,
        "duration": duration,
        "storyline": storyline,
      }

      url = "http://127.0.0.1:5050/admin/add-movie";
      fetch (url,
      
      {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify(data_to_send),
    })
      
      .then(response => response.json())
      .then(data => {
        
        if (data.message == "movie added successfully") {
          alert("Movie added successfully");
          window.location.href = "admin.html";
        }
        else {
          alert(data.message);
        }

      })
      

    }



  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>