:root {
  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);
  --ff-poppins: 'Poppins', sans-serif;
  --fs-1: 36px;
  --fs-2: 32px;
  --fs-3: 30px;
  --fs-4: 24px;
  --fs-5: 20px;
  --fs-6: 18px;
  --fs-7: 16px;
  --fs-8: 15px;
  --fs-9: 14px;
  --fs-10: 13px;
  --fs-11: 12px;
  --fs-12: 11px;
  --fw-500: 500;
  --fw-700: 700;
  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;
  --section-padding: 100px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }
a { text-decoration: none; }
a, img, span, input, button, ion-icon { display: block; }
input {
  font: inherit;
  width: 100%;
  border: none;
}
select, button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}
body { background: var(--eerie-black); }
body.active { overflow: hidden; }
.container { padding-inline: 15px; }
.h1, .h2, .h3 {
  color: var(--white);
  line-height: 1.2;
}
.h1 { font-size: var(--fs-1); }
.h2 { font-size: var(--fs-2); }
.h3 { font-size: var(--fs-6); }
.section-subtitle {
  color: var(--citrine);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}
.section-title { text-align: center; }
.badge {
  color: var(--white);
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  border: 2px solid transparent;
  padding: 2px 10px;
}
.badge-fill {
  background: var(--white);
  color: var(--raisin-black);
}
.badge-outline { border-color: var(--white); }
.meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px 25px;
  margin-bottom: 50px;
}
.badge-wrapper, .ganre-wrapper, .date-time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
}
.ganre-wrapper > a {
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}
.ganre-wrapper > a:is(:hover, :focus) { color: var(--citrine); }
.date-time { gap: 15px; }
.date-time > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}
.date-time ion-icon {
  --ionicon-stroke-width: 50px;
  color: var(--citrine);
}
.btn {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: var(--transition-1);
}
.btn > ion-icon { font-size: 18px; }
.btn-primary { background: var(--rich-black-fogra-29); }
.btn-primary:is(:hover, :focus) {
  background: var(--citrine);
  color: var(--xiketic);
}
.movies-list {
  display: grid;
  gap: 50px;
}
.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card .card-banner {
  position: relative;
  background: var(--gunmetal-1);
  aspect-ratio: 2 / 3;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: var(--transition-1);
}
.movie-card .card-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-1);
}
.movie-card .card-banner:hover { box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5); }
.movie-card .card-banner:hover::after { background: hsla(0, 0%, 100%, 0.05); }
.movie-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-card .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.movie-card .card-title {
  color: var(--white);
  font-size: var(--fs-7);
  transition: var(--transition-1);
}
.movie-card .card-title:is(:hover, :focus) { color: var(--citrine); }
.movie-card .title-wrapper time {
  color: var(--citrine);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}
.movie-card .card-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.movie-card .badge { color: var(--citrine); }
.movie-card .duration { margin-left: auto; }
.movie-card :is(.duration, .rating) {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
}
.movie-card :is(.duration, .rating) ion-icon {
  font-size: 13px;
  --ionicon-stroke-width: 50px;
  color: var(--citrine);
}
.movies-list.has-scrollbar {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-bottom: 25px;
}
.has-scrollbar::-webkit-scrollbar { height: 8px; }
.has-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--citrine);
  border-radius: 10px;
}
.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gainsboro);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 var(--black), inset 0 -1px 0 var(--black);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: var(--transition-2);
  z-index: 999;
}

.header.active {
  background: var(--eerie-black);
  padding-block: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-actions { display: none; }

.menu-open-btn {
  color: var(--white);
  font-size: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  background: var(--eerie-black);
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
  transition: 0.15s ease-in;
  visibility: hidden;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  transition: 0.25s ease-out;
}

.navbar-top {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-close-btn {
  color: var(--white);
  font-size: 25px;
  padding: 5px;
}

.menu-close-btn ion-icon { --ionicon-stroke-width: 80px; }

.navbar-list {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  margin-bottom: 30px;
}

.navbar-link {
  color: var(--white);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  padding: 10px 25px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--citrine); }

.navbar-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-social-link {
  font-size: 20px;
  color: var(--white);
  transition: var(--transition-1);
}

.navbar-social-link:is(:hover, :focus) { color: var(--citrine); }

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(204, 18%, 11%, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition-2);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.hero {
  background: url("../images/image-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 750px;
  height: 100vh;
  max-height: 10000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-block: var(--section-padding);

  
}

.hero-content { margin-top: 60px; }

.hero-subtitle {
  color: var(--citrine);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin-bottom: 10px;
  
}

.hero-title { margin-bottom: 30px; }

.hero-title > strong { color: var(--citrine); }

.hero h2 {
  color: var(--white);
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}

.movie-detail {
  background: url("../images/image-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 160px;
  padding-bottom: var(--section-padding);
}

.movie-detail-banner {
  position: relative;
  background: var(--gunmetal-1);
  max-width: 300px;
  margin-inline: auto;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 50px;
}

.movie-detail-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-btn {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 120px;
  color: var(--white);
  transition: var(--transition-1);
}

.play-btn:hover { background: hsla(0, 0%, 0%, 0.25); }

.detail-subtitle {
  font-size: var(--fs-5);
  color: var(--citrine);
  font-weight: var(--fw-700);
  margin-bottom: 10px;
}

.detail-title { margin-bottom: 20px; }

.detail-title strong { color: var(--citrine); }

.movie-detail .meta-wrapper { margin-bottom: 30px; }

.storyline {
  color: var(--gray-x);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  line-height: 1.8;
  margin-bottom: 40px;
}

.details-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 40px;
  max-width: 460px;
  background: var(--gunmetal-2);
  padding: 25px;
  border: 1px solid var(--jet);
  border-radius: 4px;
  margin-bottom: 30px;
}

.details-actions .share ion-icon {
  font-size: 25px;
  color: var(--white);
  margin-inline: auto;
}

.details-actions .share span {
  color: var(--gainsboro);
  font-size: var(--fs-11);
  transition: var(--transition-1);
}

.details-actions .share:is(:hover, :focus) span { color: var(--citrine); }

.details-actions .title {
  color: var(--white);
  font-weight: var(--fw-700);
}

.details-actions .text {
  font-size: var(--fs-11);
  color: var(--gainsboro);
}

.details-actions .btn-primary {
  font-size: 10px;
  padding: 13px 26px;
  letter-spacing: 0;
  background: transparent;
}

.details-actions .btn-primary:is(:hover, :focus) { background: var(--citrine); }





@media (min-width: 550px) {
  :root {
    --fs-1: 42px;
  }
  .container {
    max-width: 540px;
    margin-inline: auto;
  }
  .movies-list {
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }
  .hero { min-height: unset; }
  .hero-content { margin-top: 20px; }
  .upcoming .movies-list > li { min-width: calc(50% - 15px); }
  .service-list > li:first-child { padding-bottom: 30px; }
  .service-card {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .service-card .card-icon { margin-bottom: 0; }
  .service-card .card-content { width: calc(100% - 115px); }
  .detail-subtitle { --fs-5: 22px; }
  .detail-title { --fs-1: 46px; }
}

@media (min-width: 768px) {
  :root {
    --fs-2: 36px;
  }
  .container { max-width: 720px; }
  .header .container { gap: 30px; }
  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }
  .header-actions .btn-primary { 
    display: none; 
    color: #000;
  }
  .search-btn {
    position: relative;
    color: var(--white);
  }
  .search-btn ion-icon { --ionicon-stroke-width: 80px; }
  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -20px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }
  .lang-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .lang-wrapper label {
    color: var(--citrine);
    font-size: 20px;
  }
  .lang-wrapper select {
    color: var(--white);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
  }
  .lang-wrapper option { color: var(--black); }
  .hero-content { margin-top: 90px; }
  .detail-subtitle { --fs-5: 26px; }
  .detail-title { --fs-1: 50px; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
  .movies-list { grid-template-columns: repeat(3, 1fr); }
  .header.active { padding-block: 5px; }
  .menu-open-btn,
  .navbar-top,
  .navbar-social-list { display: none; }
  .navbar {
    all: unset;
    margin-left: auto;
  }
  .header-actions {
    order: 1;
    margin-left: 0;
  }
  .navbar-list {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar-link {
    border-bottom: none;
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 30px 15px;
  }
  .overlay { display: none; }
  .hero { background-position: right; }
  .hero .container { width: 950px; }
  .hero-content {
    margin-top: 100px;
    max-width: 600px;
  }
  .upcoming .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .upcoming :is(.section-subtitle, .section-title) { text-align: left; }
  .upcoming .section-title { margin-bottom: 0; }
  .upcoming .movies-list > li { min-width: calc(33.33% - 20px); }
  .service .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  .service-content {
    padding-inline: 0;
    width: calc(100% - 470px);
  }
  .service-banner { margin-bottom: 0; }
  .service-btn { right: 111px; }
  .movie-detail { padding-bottom: 200px; }
  .movie-detail .container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .movie-detail-banner,
  .details-actions { margin: 0; }
  .download-btn {
    position: absolute;
    left: 15px;
    bottom: -80px;
  }
}

@media (min-width: 1200px) {


  :root {

    --fs-1: 60px;
    --fs-4: 26px;

  }


  .container { max-width: 1320px; }


  .movies-list { grid-template-columns: repeat(4, 1fr); }

  .navbar { margin-inline: auto; }

  .header-actions .btn-primary {
    display: block;
    --fs-11: 14px;
    padding: 10px 35px;
    letter-spacing: 1px;
  }


  .hero .container { width: 1320px; }

  .upcoming .movies-list > li { min-width: calc(25% - 22.5px); }


  .movie-detail { padding-bottom: var(--section-padding); }

  .movie-detail-content { max-width: 620px; }

  .detail-title { --fs-1: 60px; }

  .download-btn {
    left: auto;
    right: 15px;
    bottom: 0;
    transform: rotate(0.25turn) translateY(100%);
    transform-origin: bottom right;
    padding: 40px 50px;
  }

  .download-btn ion-icon {
    font-size: 30px;
    transform: rotate(-0.25turn);
  }

}


.user-container {
  
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; 
  margin-top: 12rem;

}

.user-container h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

table {
  margin: 0 auto; 
  max-width: 90%; 
}
#usersTable {
  border-collapse: collapse; 
  max-height: 500px;
  overflow-y: auto; 
  display: block;
  border: 2px dashed #32a1ce;
  width: 100%;
  overflow-x: auto; 
  table-layout: fixed; 
  box-sizing: border-box; 
}

#usersTable, th, td {
  border: 1px solid #000000;
  padding: 8px; 
  box-sizing: border-box; 
}

#usersTable th {
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: rgb(0, 0, 0);
  text-align: center;
}

#usersTable tr {
  background-color: rgba(168, 53, 53, 0.639);
  text-align: center; 
}

#usersTable th {
  width: 1570px;
}





#questionsTable {
  border-collapse: collapse; 
  max-height: 500px;
  overflow-y: auto; 
  display: block;
  border: 2px dashed #32a1ce;
  width: 100%;
  overflow-x: auto; 
  table-layout: fixed; 
  box-sizing: border-box; 
}

#questionsTable, th, td {
  border: 1px solid #000000;
  padding: 8px; 
  box-sizing: border-box; 
}

#questionsTable th {
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: rgb(0, 0, 0);
  text-align: center;
}


#questionsTable tr {
  background-color: rgba(168, 53, 53, 0.639);
  text-align: center; 
}

#questionsTable th {
  width: 1570px;
}


body, html, #containerElement { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  background-color: #f5f5f5; 
  padding: 50px 0; 
}



form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-top: 1rem;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="submit"] {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#moviesList {
  display: flex;
  flex-direction: column;
}

.movie {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.movie:last-child {
  border-bottom: none;
}

.movie img {
  max-width: 100px;
  height: auto;
  margin-right: 1rem;
}

.movie h3 {
  margin-bottom: 0.5rem;
}

svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}



@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.contact-container {
  height: 100vh;
}

form {
  min-width: 25rem;
}
form .title {
  font-family: 'Poppins', sans-serif; 
  color: #ffffff; 
  font-weight: bold;
  
}
form .form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .form-control.thick {
  height: 3.3rem;
  padding: 0.5rem 3.5rem;
}
form .form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .message .form-control {
  padding: 0.5rem 1.8rem;
}
form ::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #838788;
  position: relative;
  left: 0;
}
form input,
form textarea {
  font-family: "Quicksand", sans-serif;
  color: #212529;
  font-size: 1.1rem;
}
form .icon {
  color: #57565c;
  height: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
}

.btn.btn-primary {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {       
  position: relative;    
  height: 500px;
  width: 450px;
}

.screen__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 170, 0, 0);
}

.screen__content h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #531616;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #ffffff;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #ffffff, #ffffff);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #ffffff;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 56px;
}

.login__field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #ffffff;
}
.login__radio {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  color: #ffffff;
}
.login__radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  outline: none;
}

.login__radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: #007bff;
  border-radius: 50%;
}

.login__radio:hover input[type="radio"] {
  border-color: #0056b3;
}

.login__radio input[type="radio"]:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.login__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login__input[type="text"],
.login__input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #ffffff;
}

.login__submit {
	background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
	font-size: 14px;
	margin-top: 0px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 70%;
	color: #000000;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #ffffff;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #ffffff;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: rgb(219, 15, 15)ede;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.weather-section, .weather-data-section {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 120px 0;
}

.weather-section h2, .weather-data-section h2 {
  text-align: center;
  color: #ccc;
}

.weather-container {
  width: 80%;
  margin: 0 auto;
}
.weather-container h1 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}
.weather-container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#weatherForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #45a049;
}

#weatherForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

#weatherForm select, #weatherForm input[type="submit"] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#weatherForm input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#weatherForm input[type="submit"]:hover {
  background-color: #45a049;
}

#weatherData {
  width: 60%;
  max-width: 500px;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 1rem;
  display: block;
}

#city {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

#city:focus {
  outline: none;
  border-color: #4CAF50;
}

#city:hover {
  border-color: #45a049;
}

#city option {
  padding: 10px;
  background-color: white;
  color: black;
}

#country {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

#country:focus {
  outline: none;
  border-color: #4CAF50;
}

#country:hover {
  border-color: #45a049;
}

#country option {
  padding: 10px;
  background-color: white;
  color: black;
}

.star-rating {
  display: flex;
  justify-content: flex-end;
  direction: rtl;
}

.star-rating .star {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ccc;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  background-color: #ffc107;
}

.star-rating input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.star-rating label {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  direction: ltr;
}

.submit-rating {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.comment-section {
  margin-top: 1rem;
}

#user-comment {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

#submit-comment {
  margin-top: 1rem;
}

.comments {
  padding: 20px 0;
}
.comments .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
#comments-container {
  margin-top: 20px;
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
}

.comment {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
  color: #333;
  line-height: 1.5;
}

.logo img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.header .logo img {
  max-width: 300px;
}

.navbar .logo img {
  max-width: 80px;
}

.container .logo {
  position: absolute;
}
.container h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.users-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  /* margin-top: -520px; Remove or adjust this line */
  position: relative; /* Add this line if needed */
  margin-top: 3rem;

}
.users-container .user-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.users-container .center-table {
  width: 100%;
  border-collapse: collapse;
}

.users-container .center-table th,
.users-container .center-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.question-container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3rem;
  width: 100%;

}

.question-container .user-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  top: 0; 
  position: sticky;
  z-index: 10;
}

.question-container .center-table {
  width: 100%;
  border-collapse: collapse;
}

.question-container .center-table th,
.question-container .center-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.social-login__link {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875B5;
}

.delete-film-btn {
  padding: 10px 15px;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: #000000;
  border: none;
  border-radius: 54px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-comment-btn {
  padding: 10px 15px;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: #000000;
  border: none;
  border-radius: 54px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease;
}

.social-login {
  text-align: center;
}

.social-login__button {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 1.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  color: #000;
}

.social-login__button:hover {
  background-color: #0056b3;
}

.movies-container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 3rem;
  width: 50%;

}

.movies-container .movie-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  top: 0; 
  position: sticky;
  z-index: 10;
}

#moviesTable {
  border-collapse: collapse; 
  max-height: 500px;
  overflow-y: auto; 
  display: block;
  border: 2px dashed #32a1ce;
  width: 100%;
  overflow-x: auto; 
  table-layout: fixed; 
  box-sizing: border-box; 
}

#moviesTable, th, td {
  border: 1px solid #000000;
  padding: 8px; 
  box-sizing: border-box; 
}

#moviesTable th {
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: rgb(0, 0, 0);
  text-align: center;
}


#moviesTable tr {
  background-color: rgba(168, 53, 53, 0.639);
  text-align: left; 


}

#moviesTable td {
  width: 1570px;
}

.movies-container button {
  padding: 10px 15px;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  color: #000000;
  border: none;
  border-radius: 54px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease;
}