<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap'>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
</head>
<body id="top">
  <header class="header" data-header>
    <div class="container">
      <div class="overlay" data-overlay></div>
      <a href="user.html" class="logo">
        <img src="../../assets/images/logo.png" alt="Automata logo">
      </a>
      <div class="header-actions">
        <a href="../../guest.html" class="btn btn-primary">Log Out</a>
      </div>
      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="user.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Automata logo">
          </a>
          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li>
            <a href="user.html" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="weather.html" class="navbar-link">Weather</a>
          </li>
          <li>
            <a href="contact.html" class="navbar-link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  
  <section class="hero">
    <div class="container">
      <div class="contact-container d-flex justify-content-center align-items-center">
        <form id="contactForm">
              <h1 class="title text-center mb-4">Contact to Us</h1>
              <div class="form-group position-relative">
                  <label for="formName" class="d-block">
                      <i class="icon" data-feather="user"></i>
                  </label>
                  <input type="text" id="formName" name="formName" class="form-control form-control-lg" placeholder="Name ">
              </div>
              <div class="form-group position-relative">
                <label for="formSurname" class="d-block">
                    <i class="icon" data-feather="user"></i>
                </label>
                <input type="text" id="formSurname" name="formSurname" class="form-control form-control-lg" placeholder="Surname">
            </div>
  
              <div class="form-group position-relative">
                  <label for="formEmail" class="d-block">
                      <i class="icon" data-feather="mail"></i>
                  </label>
                  <input type="email" id="formEmail" name="formEmail" class="form-control form-control-lg" placeholder="E-mail">
              </div>
  
              <div class="form-group message">
  
                  <textarea id="formMessage" name="formMessage" class="form-control form-control-lg" rows="7" placeholder="Message"></textarea>
              </div>
  
              <div class="text-center">
                <button type="submit" class="btn btn-primary" tabIndex="-1">Send message</button>
            </div>
          </form>
      </div>
    </div>
  </section>

    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://unpkg.com/feather-icons'></script>
    <script>
      document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault(); 
    
        var name = document.getElementById('formName').value;
        var surname = document.getElementById('formSurname').value;
        var email = document.getElementById('formEmail').value;
        var message = document.getElementById('formMessage').value;
    
        if (!name || !email || !message) {
            alert("Please fill all the fields.");
            return;
        }
        var token = localStorage.getItem('jwtToken'); 
    
        if (!token) {
            alert("You are not authenticated. Please log in.");
            return;
        }
    
        var data = {
            name: name,
            surname: surname,
            email: email,
            message: message
        };
    
        fetch('https://pelinmisee--web-group-project-flask-app.modal.run/admin/login/user/contact', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token 
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json().then(data => ({ status: response.status, body: data })))
        .then(obj => {
            if (obj.status !== 200) {
                throw new Error(`Error ${obj.status}: ${obj.body.message}`);
            }
            console.log('Success:', obj.body);
            alert("Message sent successfully.");
            // Reset the form here after successful submission
            document.getElementById('contactForm').reset();
        })
        .catch((error) => {
            console.error('Error:', error.message);
            alert("Error: " + error.message);
        });
    });
    
  </script>
</body>
</html>