<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automata - Film Studio</title>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="top">
    <header class="header" data-header>
        <div class="container">
          <div class="overlay" data-overlay></div>
          <a href="user.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Automata logo">
          </a>
          <div class="header-actions">
            <a href="../../guest.html" class="btn btn-primary">Log Out</a>
        </div>
          <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="reorder-two"></ion-icon>
          </button>
          <nav class="navbar" data-navbar>
            <div class="navbar-top">
              <a href="user.html" class="logo">
                <img src="../../assets/images/logo.png" alt="Automata logo">
              </a>
              <button class="menu-close-btn" data-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>
            <ul class="navbar-list">
              <li>
                <a href="user.html" class="navbar-link">Home</a>
              </li>
              <li>
                <a href="weather.html" class="navbar-link">Weather</a>
              </li>
              <li>
                <a href="contact.html" class="navbar-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      
  <section class="movie-detail">
    <div class="container">
      <figure class="movie-detail-banner">
        <img id="movie-poster" alt="Movie poster">
      </figure>
  
      <div class="movie-detail-content">
        <h1 class="h1 detail-title" id="movie-title">Movie Title</h1>
  
        <div class="meta-wrapper">
          <div class="date-time">
            <div>
              <ion-icon name="calendar-outline"></ion-icon>
              <time id="movie-year">Year</time>
            </div>
            <div>
              <ion-icon name="time-outline"></ion-icon>
              <time id="movie-duration">Duration</time>
            </div>
          </div>
        </div>
        <p class="storyline" id="movie-storyline">Storyline goes here</p>

        <div class="star-rating">
          <input class="star" id="star-5" type="radio" name="rating" value="5"/>
          <label class="star" for="star-5"></label>
          <input class="star" id="star-4" type="radio" name="rating" value="4"/>
          <label class="star" for="star-4"></label>
          <input class="star" id="star-3" type="radio" name="rating" value="3"/>
          <label class="star" for="star-3"></label>
          <input class="star" id="star-2" type="radio" name="rating" value="2"/>
          <label class="star" for="star-2"></label>
          <input class="star" id="star-1" type="radio" name="rating" value="1"/>
          <label class="star" for="star-1"></label>
        </div>
        
        
      <br>
      <button id="submit-rating" style="display:none;" class="btn btn-primary">Submit Rating</button>
      <br>
      <br>
      <br>
      <div class="comment-section">
        <textarea id="user-comment" placeholder="Enter your comment here..." rows="4"></textarea>
        <button id="submit-comment" class="btn btn-primary">Submit Comment</button>
      </div>
    </div>

  </section>

  <section class="comments">
    <div class="container">
      <h2 class="h2">Comments</h2>
      <div id="comments-container">
      </div>
    </div>
  </section>
  
      
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
      <script>
        document.addEventListener('DOMContentLoaded', function() {
    const movieId = getMovieIdFromURL();
    if(movieId) {
        fetchMovieDetails(movieId);
    }
});
function getMovieIdFromURL() {
    const queryParams = new URLSearchParams(window.location.search);
    return queryParams.get('id');
}


function fetchMovieDetails(movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`https://pelinmisee--web-group-project-flask-app.modal.run/user/movie/${movieId}`, {
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(movie => {
        displayMovieDetails(movie);
        displayAverageRating(movie.average_rating);
        fetchAndDisplayComments(movieId); 

    })
    .catch(error => {
        console.error('Error fetching movie details:', error);
    });
}

function displayMovieDetails(movie) {
    document.getElementById('movie-poster').src = movie.movie_image_link;
    document.getElementById('movie-title').innerText = movie.movie_name;
    document.getElementById('movie-year').innerText = movie.movie_year;
    document.getElementById('movie-duration').innerText = movie.movie_duration + ' min';
    document.getElementById('movie-storyline').innerText = movie.movie_story_line;
}

function displayAverageRating(averageRating) {
    const roundedRating = Math.round(averageRating);
    for (let i = 1; i <= 5; i++) {
        document.getElementById('star-' + i).checked = i === roundedRating;
    }
}


        document.querySelectorAll('.star-rating input[type="radio"]').forEach(function(input) {
    input.addEventListener('change', function() {
        let ratingValue = this.value;
        console.log("Rated: " + ratingValue + " stars"); 
        document.getElementById('submit-rating').style.display = 'block';
    });
});

document.getElementById('submit-rating').addEventListener('click', function() {
    const selectedRating = document.querySelector('.star-rating input[type="radio"]:checked');
    const movieId = getMovieIdFromURL();

    if (selectedRating && movieId) {
        submitRating(parseInt(selectedRating.value), movieId);
    } else {
        console.log("No rating selected or movie ID missing");
    }
});

function submitRating(ratingValue, movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`https://pelinmisee--web-group-project-flask-app.modal.run/user/movie/${movieId}/add-star`, {
        method: 'POST',
        headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ star_rating: ratingValue })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log("Rating submitted successfully:", data);
        displayAverageRating(data.new_average_rating);
        document.querySelectorAll('.star-rating input[type="radio"]').forEach(function(input) {
            input.checked = false;
        });
    })
    .catch(error => {
        console.error('Error submitting star rating:', error);
    });
}


function fetchAndDisplayComments(movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`https://pelinmisee--web-group-project-flask-app.modal.run/user/movie/${movieId}/comments`, { 
        method: 'GET',
        headers: {
            'Authorization': 'Bearer ' + token
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(comments => {
        const commentsContainer = document.getElementById('comments-container');
        commentsContainer.innerHTML = ''; 

        for (let key in comments) {
            if (comments.hasOwnProperty(key)) {
                const comment = comments[key];
                const commentElement = document.createElement('div');
                commentElement.classList.add('comment');
                commentElement.innerHTML = `
                    <p><strong>${comment.name} ${comment.surname}:</strong> ${comment.comment}</p>
                `;
                commentsContainer.appendChild(commentElement);
            }
        }
    })
    .catch(error => console.error('Error fetching comments:', error));
}
      
        fetchAndDisplayComments(getMovieIdFromURL());

        function submitRating(ratingValue, movieId) {
    var token = localStorage.getItem('jwtToken');
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }

    fetch(`https://pelinmisee--web-group-project-flask-app.modal.run/user/movie/${movieId}/add-star`, {
        method: 'POST',
        headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ star_rating: ratingValue })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log("Rating submitted successfully:", data);
        displayAverageRating(data.new_average_rating);
    })
    .catch(error => {
        console.error('Error submitting star rating:', error);
    });
}


document.getElementById('submit-rating').addEventListener('click', function() {
    const selectedRating = document.querySelector('.star-rating input[type="radio"]:checked');
    const movieId = getMovieIdFromURL(); 

    if (selectedRating) {
        submitRating(parseInt(selectedRating.value), movieId);

        document.querySelectorAll('.star-rating input[type="radio"]').forEach(function(input) {
            input.checked = false;
        });
    }
});

document.getElementById('submit-comment').addEventListener('click', function() {
    const userComment = document.getElementById('user-comment').value;
    const name = localStorage.getItem('userName');
    const surname = localStorage.getItem('userSurname');

    const movieId = getMovieIdFromURL();
    if (userComment && movieId) {
        submitComment(userComment,name, surname, movieId);
    } else {
        console.log("No comment entered or movie ID missing");
    }
});

function submitComment(comment,name,surname, movieId) {
    var token = localStorage.getItem('jwtToken');
    console.log(token);
    if (!token) {
        alert("You are not authenticated. Please log in.");
        return;
    }
    fetch(`https://pelinmisee--web-group-project-flask-app.modal.run/user/movie/${movieId}/create-comment`, {
        method: 'POST',
        headers: {
            'Authorization': 'Bearer ' + token,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 
            comment: comment,
            name: name, 
            surname: surname 
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log("Comment submitted successfully:", data);
        fetchAndDisplayComments(movieId); 
    })
    .catch(error => {
        console.error('Error submitting comment:', error);
    });
}

      </script>

    </body>
    </html>